src/DotalignerGraphs/*.tsv
src/DotalignerGraphs/seq.index.txt
src/DotalignerGraphs/combination.index.txt
.idea/
venv
data/ps
data/ps.tar.gz
src/dotaligner_shell_scripts/
snakejob.*
out/*.out
.snakemake/
out/merged/*
.Rproj.user
